/FileCatalog/target/
/hw4/CurrencyConverter/target/
/hw4/currencyConverter/target/
/homework4/currencyconversion/target/
/homework4/databaslabb/target/
/project/EmailProject/nbproject/private/
/project/EmailProject/build/
/project/EmailProject/dist/
/project/EmailProject_1/nbproject/private/
/project/EmailProject_1/build/
/project/EmailApplication/nbproject/private/
/project/EmailApplication/build/
/dbp/DatabasProject/target/
/project/EmailApplication/dist/
/project/EmailApplication_1/nbproject/private/
/project/EmailApplication_1/build/
/project/EmailApplication_1/dist/
/project/EmailApp/nbproject/private/
/project/EmailApp/build/
/project/EmailApp/dist/
/project/EmailApplication/target/